<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <header>
            <div class="jumbotron">
                <h2>Hosting Service for My Store data</h2>
            </div>
        </header>
        @RenderBody()
        
    </div>
</body>
</html>
